
body {
  background-color: #e4e4e4fd;
  color: #0b101a;
  font-size: 1rem; 
}

h1 {
  color: #003ece;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

h2 {
  color: #0746f3ce;
}

p {
  color: #000d1f;
}



nav a {
  color: #aeccf7;
}



nav > ul {
  background-color: #0000007c;
}



.highlight {
  background-color: #fff7ed;
  color: #7c2d12;
}



#site-title {
  color: #7c3aed;
}

footer {
  background-color: #0803038c;
  color: #ffffff99;
}
