

html {
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background: linear-gradient(135deg, #cacccf, #7292d3ec);
  color: #202630;
  padding: 1rem 2rem;
  font-size: 1rem; 
}



h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #031d91;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 0.05em;
  
}

h2 {
  color: #0746f3ce;
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  color: #000000;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Paragraph spacing example
*/

p {
  padding: 0.75rem;
  margin: 0.75rem 0;
  color: #2b6e3c;
  line-height: 1.5;

}


nav a:hover{
  color: #a84f25;
  text-decoration: underline;
}



nav > ul {
  list-style-type: none;
  text-align: center;
  background: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 1rem;  

}
nav > ul > li {
  display: inline-block;
  margin-right: 0;
}

/* List styling experiment */

ul {
  list-style-type: circle;
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 1rem;
}


.highlight {
  background-color: #ffffff;
  color: #7c2d12;
}

#site-title {
  color: #7e2e2e;
}



/*
* {
  border: 1px solid black;
}
*/


main {
  width: 85%;
  margin: 0 auto;
  border: 2px solid #202630;
  padding: 1rem;
  background-color: #ffffff;
}

.about-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.about-flex > header {
  width: 100%;
  text-align: center;
  color: #0746f3ce;
}

.about-flex > section {
  flex: 1 1 18rem;
}




/* Section boxes
*/

section {
  border: 2px solid #7e2e2e;
  padding: 1rem;
  margin: 1rem 0;
}

figure {
  padding: 0.5rem;
}

picture {
  display: block;
}
img {
  max-width: 481px;
  height: auto;
  display: block;
  margin: 1rem auto;
  border: 5px dotted #5c5b5bf3;
  border-radius: 20px;

}






.nested-demo {
  border: 2px solid #0746f3ce;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #f9fafb;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nested-demo > header {
  width: 100%;
  text-align: center;
  color: #0746f3ce;
}

.nested-demo > section {
  flex: 1 1 18rem;
}

.child-default {
  width: 100%;
  padding: 1rem;
  border: 2px dashed #008120;
}


/* Using border-box */

.child-borderbox {
  width: 100%;
  padding: 1rem;
  border: 2px dashed #031d91;
  box-sizing: border-box;
}



/* Footer styling */
footer {
  background: linear-gradient(135deg, #1a1a2e00, #09205fd2);
  color: #ffffff;
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 1rem;
  
}

